node_modules/
dist/
out-tsc/
.angular/
package-lock.json
yarn.lock

.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/

bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
*.dbmdl
*.pdb
*.backup
*.log
*.DS_Store

[Rr]ickAndMortyApi/**/bin/
[Rr]ickAndMortyApi/**/obj/
[Rr]ickAndMortyApi/**/publish/

.idea/

appsettings.*.json
RickAndMortyApi/RickAndMorty.Api/appsettings*.json
